<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="databaseName" value="appcore_data_dev" />
    </appSettings>

    <connectionStrings>
        <add name="databaseConnection" connectionString="Data Source=(localdb)\v11.0;Connect Timeout=30;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>