<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.14" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.13" targetFramework="net45" />
  <package id="MvvmCross.PortableSupport" version="3.0.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.0" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
  <package id="RestSharp" version="104.2.0" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.64" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.64" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.64" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net45" />
</packages>